/* ul won't have bullets and margin and padding is set to 
0 */

@import url('https://fonts.googleapis.com/css?family=Nerko+One');
@import url('https://fonts.googleapis.com/css?family=NATS');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    color: #1B3D6D;
}

#logo {
    float: left;
    font-family: "Nerko One", sans-serif;
    
}

#quote {
    float: right;
}

#listing-title {
    float: right;
}

#listing-nums {
    display: inline;
}


.item1 { grid-area: header; }
.item2 { grid-area: listing-cards; }
.item3 { grid-area: filter; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'listing-cards listing-cards listing-cards listing-cards filter filter'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 30px;
}

/* .item1-header {
    grid-area: logo;
}

.item2-header {
    grid-area: quote;
}

.item3-header {
    grid-area: listings-title;
}

.item4-header {
    grid-area: divider;
}


.grid-container-header {
    display: grid;
    grid-template-areas:
        'logo quote'
        'listings-title listings-title'
        'divider divider';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    font-size: 30px;
  } */


/* Listings Text */
#listingsTitle {
    display: inline;
}

#items {
    display: inline;
}


/* Listings Cards */
#listingCards {
    margin-left: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    display: inline-block;
    margin: 15px;
    border-radius: 15px;
}

.cardImg {
    border-radius:  15px 15px 0 0;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}

.listingInfoRow1 {
    position: relative;
}

.listingName {
    display: inline-block;
}

.listingPrice {
    display: inline-block;
    position: absolute;
    right: 0;
}

.listingInfoRow2 {
    position: relative;
}

.listingAddress {
    display: inline-block;
}

.listingDistance {
    display: inline-block;
    position: absolute;
    right: 0;
}

/* Filters */
#filterCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 475px;
    display: inline-block;
    margin: 15px;
    border-radius: 15px;
}  

#filtersTitle {
    margin-bottom: 0px;
}

.filterRow {
    position: relative;
}

.filterName {
    display: inline-block;
}

select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
    position: absolute;
    width: 200px;
    top: 30px;
    right: 0;
}

select:focus{
    outline:none;
}